@font-face {
  font-family: "iconfont";
  /* Project id 3437873 */
  src: url('//at.alicdn.com/t/c/font_3437873_s038tv6vm0s.woff2?t=1660025223191') format('woff2'),
    url('//at.alicdn.com/t/c/font_3437873_s038tv6vm0s.woff?t=1660025223191') format('woff'),
    url('//at.alicdn.com/t/c/font_3437873_s038tv6vm0s.ttf?t=1660025223191') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e668";
}

.icon-fire:before {
  content: "\e842";
}

.icon-question:before {
  content: "\e691";
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-bofangshu:before {
  content: "\e666";
}

.icon-Bbi:before {
  content: "\e667";
}

.icon-shoucang:before {
  content: "\e669";
}

.icon-zan:before {
  content: "\e6c5";
}